<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wizverse{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-gradient-to-b from-blue-500 to-teal-600 min-h-screen flex flex-col">
    <header class="bg-blue-600">
        <div class="container p-4 mx-auto w-full">
            <h1 class="text-3xl font-bold text-teal-600 mb-4">WizVerse</h1>
        </div>  
    </header>

    <div class="flex-grow">
        {% block content %}{% endblock %}
    </div>

    <footer class="bg-blue-800 fixed bottom-0 left-0 w-full">
        <div class="flex justify-evenly py-4">
            <a href="{% url 'home' %}" class="text-white hover:text-gray-400 focus:outline-none">
                <button class="focus:outline-none">Home</button>
            </a>
            <a href="#" class="text-white hover:text-gray-400 focus:outline-none">
                <button class="focus:outline-none">Search</button>
            </a>
            <a href="#" class="text-white hover:text-gray-400 focus:outline-none">
                <button class="focus:outline-none">Notification</button>
            </a>
            <button class="text-white hover:text-gray-400 focus:outline-none relative" onclick="togglePopupMenu()">
                User
            </button>
            <!-- Define the pop-up menu -->
            <div id="popupMenu" class="hidden absolute right-12 bottom-12 mt-2 bg-blue-200 border border-gray-300 rounded-md shadow-lg z-10">
                <a href="{% url 'profile' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Profile</a>
                <a href="{% url 'dashboard' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Dashboard</a>
                <a href="{% url 'profileupdate' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Settings</a>
                <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Logout</a>
            </div>
        </div>
    </footer>

    <!-- JavaScript to handle pop-up menu -->
    <script>
        function togglePopupMenu() {
            var popupMenu = document.getElementById("popupMenu");
            popupMenu.classList.toggle("hidden");
        }
    </script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
