{% extends 'base.html' %}

{% block content %}

    <div class="container mx-auto mt-8 px-10">
        <div class="mb-4 ml-6 ">
            <a href="{% url 'createPost' %}" class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create Post</a>
        </div>
        <div class="flex flex-col space-y-6 mb-8 px-10">
            {% for tweet in object_list %}
                <div class="bg-blue-200 rounded-lg p-7">
                    <a href="{% url 'profile' %}" class="text-lg font-bold">{{ tweet.username }}</a>
                    <p class="text-lg">{{ tweet.text }}</p>
                    <p class="text-sm text-gray-400">{{ tweet.datetime }}</p>
                    <div class="mt-4">
                        
                        <div class="inline-block text-gray-400 mr-2">
                            <button id="agreeBtn-{{ tweet.id }}" data-post-id="{{ tweet.id }}" class="agreeBtn bg-blue-300 text-blue-500 hover:text-blue-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2">Agree</button>
                            <span class="agree-count">{{ tweet.agreements.count }}</span>
                        </div>
                        
                        <div class="inline-block text-gray-400 mr-2">
                            <button id="disagreeBtn-{{ tweet.id }}" data-post-id="{{ tweet.id }}" class="disagreeBtn bg-blue-300 text-blue-500 hover:text-red-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-2">Disagree</button>
                            <span class="disagree-count">{{ tweet.disagreements.count }}</span>
                        </div>
                        
                        <div class="inline-block text-gray-400 mr-2">
                            <button class="bg-blue-300 text-blue-500 hover:text-blue-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Share</button>
                        </div>            

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}

<script>
    document.querySelectorAll('.agreeBtn, .disagreeBtn').forEach(button => {
        button.addEventListener('click', function() {
            const postId = this.getAttribute('data-post-id');
            const isAgree = this.classList.contains('agreeBtn');
            const url = isAgree ? '{% url "agree_post" 0 %}'.replace('0', postId) : '{% url "disagree_post" 0 %}'.replace('0', postId);
            
            fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                credentials: 'same-origin'
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const agreeCount = data.agree_count;
                const disagreeCount = data.disagree_count;
                document.getElementById(`agreeCount-${postId}`).innerText = agreeCount;
                document.getElementById(`disagreeCount-${postId}`).innerText = disagreeCount;
            })
            .catch(error => {
                console.error('There was an error with the fetch operation:', error);
            });
        });
    });
</script>


{% endblock %}
