<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wizverse - Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-to-b bg-blue-500 to-teal-600 min-h-screen flex flex-col">
    <header class="bg-blue-600">
        <div class="container p-4 mx-auto">
            <h1 class="text-3xl font-bold text-teal-600 mb-4">WizVerse</h1>
        </div>  
    </header>

    <div class="flex-grow">
         <p class="text-lg text-green text-center">This is the homepage of my Twitter-like app. Feel free to explore!</p>
    </div>

    <footer class="bg-blue-800">
        <div class="flex justify-evenly py-4">
            <a href="#" class="text-white hover:text-gray-400">Home</a>
            <a href="#" class="text-white hover:text-gray-400">Search</a>
            <a href="#" class="text-white hover:text-gray-400">Notification</a>
            <a href="#" class="text-white hover:text-gray-400">User</a>
        </div>
    </footer>
</body>
</html>

