<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wizverse - Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-to-b from-blue-500 to-teal-600 min-h-screen flex flex-col">
    <header class="bg-blue-600">
        <div class="container p-4 mx-auto w-full">
            <h1 class="text-3xl font-bold text-teal-600 mb-4">WizVerse</h1>
        </div>  
    </header>

    <div class="px-2">
    <div class="container max-w-md mx-auto mt-20 mb-20 ">
        <div class="max-w-md mx-auto w-full">
            <p>
                Welcome to Wizverse,
                a dynamic platform where you can engage with and
                share thought-provoking content that sparks curiosity and
                inspires meaningful discussions.
            </p>
    
        </div>
        
        <div class="max-w-md mx-auto mt-10 mb-10">
            <ul>
                <li class="mb-4">
                    <a href="{% url 'login' %}" class="button bg-teal-600 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded">Login</a>
                </li>
                <li>
                    <a href="{% url 'register' %}" class="button bg-teal-600 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded">Register</a>
                </li>
            </ul>
        </div>

        <div class="max-w-md mx-auto w-full mt-20 mb-20">
            <img src="/media/wizverse.png" alt="Landing Page Image" class="w-full h-auto">
        </div>
    </div>
    
    <div class="container mx-auto mt-20 mb-20">
        <div class="max-w-md mx-auto">
            <h2 class="text-2xl font-bold text-teal-600">What is Wizverse?</h2>
            <br>
            <p>
                Wizverse is an inclusive online platform designed for fostering meaningful conversations and respectful debates on a wide range of topics, including controversial ones.          
            </p>
            <br>
            <p>
                It serves as a space where individuals can freely share their content, theories, and ideas while inviting feedback and engagement from a global audience.
            </p>
            <br>
            <p>
                Whether expressing agreement, disagreement, or offering constructive criticism, users are encouraged to engage in open discussions aimed at promoting understanding and stimulating intellectual discourse.
            </p>
        </div>
    
        <div class="max-w-md mx-auto mt-20 mb-20">
            <h2 class="text-2xl font-bold text-teal-600">How it works</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-10">
                <div class="bg-blue-300 shadow-md rounded-lg p-4 text-center">
                    <h3 class="text-xl font-bold text-teal-600">1. Register</h3>
                    <p>Register and create your account</p>
                </div>
                <div class="bg-blue-300 shadow-md rounded-lg p-4 text-center">
                    <h3 class="text-xl font-bold text-teal-600">2. Post</h3>
                    <p>Post all your content and theories</p>
                </div>
                <div class="bg-blue-300 shadow-md rounded-lg p-4 text-center">
                    <h3 class="text-xl font-bold text-teal-600">3. Get Feedback</h3>
                    <p>Get feedback from the world</p>
                </div>
            </div>
        </div>
    
        <div class="max-w-md mx-auto mt-20 mb-20">
            <h2 class="text-2xl font-bold text-teal-600">Get Started</h2>
            <p>
                <br>
                At Wizverse, we extend a warm invitation for you to share your insightful content and engage in enriching discussions.
                <br> <br>
                Whether you're passionate about a specific subject or eager to explore new concepts, Wizverse provides a nurturing environment for connection, learning, and intellectual growth. 
                <br> <br>
                Join our community today and contribute your unique insights to the world!
                
                <br> <br>

                Already have an account, <a href="{% url 'login' %}" class="button bg-teal-600 hover:bg-teal-700 text-blue-800 font-bold py-2 px-4 rounded mt-4">Login here</a>
                <br><br>
                Don't have an account, <a href="{% url 'register' %}" class="button bg-teal-600 hover:bg-teal-700 text-blue-800 font-bold py-2 px-4 rounded mt-4">Register here</a>
            </p>
        </div>
    
        <div class="max-w-md mx-auto mt-20 mb-20">
            <h2 class="text-2xl font-bold text-teal-600">Contact Us</h2>
            <p>
                <br>
                If you have any questions or concerns, please feel free to contact us at <a href="mailto:pontuagi@gmail.com">pontuagi@gmail.com</a>
                <br> <br>
            </p>
        </div>
    </div>
    </div>

    <footer class="bg-blue-800 fixed bottom-0 mt-20 w-full">
        <div class="flex justify-evenly py-4">
            <a href="{% url 'home' %}" class="text-white hover:text-gray-400">Home</a>
            <a href="#" class="text-white hover:text-gray-400">Search</a>
            <a href="#" class="text-white hover:text-gray-400">Notification</a> 
            <a href="{% url 'login' %}" class="text-white hover:text-gray-400">Login</a> 
        </div>
    </footer>

</body>
</html>
