body {
    background-color: hsl(177, 87%, 54%);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    color: #009688;
}

/* Styles for the footer */
.footer {
    background-color: #080114;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
}
    /* Styles for the footer tabs */
.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}