{% extends 'base.html' %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<div class="container mx-auto mt-8 max-w-full">
    <div class="w-full mx-auto bg-blue-200 shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h1 class="text-2xl font-semibold text-center mb-4">Update Profile</h1>
        <form class="w-full mx-auto bg-blue-200 shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-4">
                <label for="id_image" class="block text-gray-700 text-sm font-bold mb-2">Profile Image</label>
                {{ pform.image }}
            </div>
            <div class="mb-4">
                <label for="id_bio" class="block text-gray-700 text-sm font-bold mb-2">Bio</label>
                {{ pform.bio }}
            </div>
            <div class="mb-4">
                <label for="id_location" class="block text-gray-700 text-sm font-bold mb-2">Location</label>
                {{ pform.location }}
            </div>
            <div class="mb-4">
                <label for="id_birth_date" class="block text-gray-700 text-sm font-bold mb-2">Date of Birth</label>
                {{ pform.birth_date }}
            </div>
            <div class="flex items-center justify-between mt-4">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Update</button>
                <a href="{% url 'profile' %}" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
